<h1 class="text-success text-center">Aula Angular diretivas e API</h1>

<div 
  [ngStyle]="{background: count < 5? 'red' : 'green'}"
  [ngClass]="{custom: count >5}" 
>
    <h1 class="text-center">Contador: {{count}}</h1>
</div>

<!-- Diretivas Estruturais -->>

<h2 *ngIf="count > 7; else menor" class="text-center">O contador passou de 7!</h2>

<ng-template #menor>
    <h2 class="text-center">O contador é menor do que 7!</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-gruop mx-auto col-3">
    <li 
    class="list-group-item"
    *ngSwitchCase="1"
    >
      É IGUAL A 1
    </li>
    <li 
    class="list-group-item"
    *ngSwitchCase="2"
    >
      É IGUAL A 2
    </li>
    <li 
    class="list-group-item"
    *ngSwitchCase="3"
    >
      É IGUAL A 3
    </li>
    
    <li 
    class="list-group-item"
    *ngSwitchCase="8"
    >
      É IGUAL A 8
    </li>
    <li 
    class="list-group-item"
    *ngSwitchDefault
    >
      ESSE É O DEFAULT
    </li>
</ul>

<app-list-people></app-list-people>


<h3 appMarcaTexto corDeFundo="blue" corDoTexto="black" class="d-flex align-items-center justify-content-center ">{{nome}}</h3>
<div class="col-4 mx-auto my-3 row d-flex">
  <input 
  type="text" class="form-control" 
  placeholder="Pesquise pelo Nome"
  [(ngModel)]="text"
  >
  <button class="btn btn-success my-3 mx-auto col-4" (click)="clicou('Marcos')">
    Pesquisar
</button>
</div>

<div class="container my-1">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-10">
            <app-list-api></app-list-api>
        </div>
    </div>
</div>